.header {
    background: $off-black;
    margin-bottom: $s-size;
    padding: $s-size 0;
}

.header__title {
    color: $off-yellow;
    font-size: $l-size;
    width: auto;
    margin: $m-size 0;
    // text-align: center;
}

// Block element modifier(BEM) naming
.header__subtitle {
    color: $off-white;
    font-size: 2.2rem; // .625*2.2=22
    font-weight: 500;
    text-align: left;
    margin: 0;
}
@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}