// colors

$off-black: #20222b;
$off-darkGrey: #4f4f50;
$off-Grey: #333232;
$off-yellow:rgb(255, 191, 53);
$off-white: #d6d3d3;
$dark-grey: rgb(61, 61, 61);
// Spacing
$s-size:1.3rem;
$m-size:1.7rem;
$ml-size:2.5rem;
$l-size: 3rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;